* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}
body {
  font-family: "Baloo Chettan 2", cursive;
  line-height: 1.5;
  background-color: orange;
}

.nav {
  background-color: #ec7f19;
}
.container {
  padding-top: 10%;
  height: auto;
  justify-content: flex-start;
  width: 70%;
  margin: auto;
}
.img {
  max-width: 100%;
  width: 100%;
  border-radius: 8px;
  padding-bottom: 1.5rem;
}
.text {
  text-align: justify;
  padding-bottom: 2rem;
}
@media screen and (min-width: 776px) {
  .container {
    flex-direction: row;
    justify-content: space-around;
    width: 80%;
    padding-top: 2rem;
    gap: 3rem;
    margin: auto;
  }
  .container div {
    padding-top: 3rem;
  }
  .text {
    padding-top: 2rem;
  }
}
